* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#section-1 {
    padding: 24px;
    min-height: 100vh;
}

#section-1 {
    background: url("../images/treasure-map.webp");
    background-size: cover;
    background-position: center center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#section-1 .example-card {
    max-width: 350px;
    margin: 16px;
    box-shadow: 4px 4px 8px #00000088;
}

.card-style-1 {
    width: 350px; 
    padding:10px;
    background: white;
    display: flex; 
    flex-direction: column; 
     

} 

.card-style-1 a {
    color: rgb(252, 250, 250); 
    text-decoration: none; 
    font-size: 20px; 
    font-weight: bold; 
    background-color: rgb(40, 155, 47); 
    padding: 20px; 
    display: inline-block; 
    width: 100%; 
    text-align: center; 
    transition: 
        background-color 0.5s, 
        color 0.5s; 
} 

.card-style-1 a:hover {
    background-color: rgb(161, 218, 161);  
    color: rgb(42, 98, 51);
} 

.card-style-1 h2 { 
    margin: center; 
} 

.card-style-1 p {
    flex: 1;
}