* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
} 

#nav-bar {
    text-align: center; 
    padding: 24px;
    background-color: blue;
} 

#nav-bar a {
    color: white; 
    margin: 24px;                                              c 
} 

p a {
    color: teal;
} 

p.warning {
    color: crimson;
} 

p.warning a {
    color: orange;
} 

ul p a {
    color: purple; 
} 

ul {
    color: green;
} 

ul a {
    color: lime;
} 

ul div a {
    color: lightblue
}